body {
  background: #247ba0;
}

.container {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-top: 5%;
}

.cloud {
  display: inline-block;
  animation: 10s move infinite;
}
.cloud__top {
  height: 90px;
  width: 90px;
  background: white;
  border-radius: 50%;
  margin-bottom: -20px;
  margin-left: 15px;
  box-shadow: 70px 5px 0 0px white;
}
.cloud__bottom {
  height: 50px;
  width: 200px;
  border-radius: 20px;
  background: white;
}

.sun {
  height: 200px;
  width: 200px;
  background: #FFE066;
  border-radius: 50%;
}

@keyframes move {
  50% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0px);
  }
}
